fastapi[all]
psycopg2-binary
python-multipart
uvicorn
sqlalchemy
alembic
python-dotenv
click
colorama
websockets
asyncpg
bcrypt
pydantic
pytest
envdatareader
python-jose
flake8 
autopep8
black
fastapi>=0.109.1 # not directly required, pinned by Snyk to avoid a vulnerability